<% include inc/header %>

  <header layout="flexrow" align="middle" class="full-wrapper">
    <div>
      <ul layout="flexlist" gutters>
        <li><a href="#one">One</a></li>
        <li><a href="#two">Two</a></li>
        <li><a href="#three">Three</a></li>
        <li><a href="#four">Four</a></li>
      </ul>
    </div>
    <div breakpoint="tiny-20">
      <paper-input label="search">
        <iron-icon icon="icons:search" suffix></iron-icon>
      </paper-input>
    </div>
  </header>

  <section layout="flexrow" autostack gutters flex-items class="page-wrapper">
    <div breakpoint="tiny-33">
      <dummy-element label="[Logo]"></dummy-element>
    </div>
    <div>
      <dummy-element label="[Advertisements]" bcolor="#999"></dummy-element>
    </div>
  </section>

  <br />

  <nav class="full-wrapper">
    <dummy-element label="[Site Navigation]" height="64px"></dummy-element>
  </nav>

  <br />

  <section layout="flexrow" autostack gutters class="page-wrapper">
    <div breakpoint="tiny-66">
      <dummy-element label="[Promoted Article]"height="300px"></dummy-element>
    </div>
    <div layout="flexcolumn" gutters>
      <div size-content><dummy-element label="[Other Article]" height="64px"></dummy-element></div>
      <div><dummy-element label="[Other Article]" height="100%"></dummy-element></div>
    </div>
  </section>

  <br />

  <section class="page-wrapper">
    <hr />
    <h2 class="text-center">Breaking News</h2>
    <hr />
    <br />
    <div layout="flexgrid" basis="medium-5-columns" gutters autostack>
      <div><dummy-element label="Look at me!"></dummy-element></div>
      <div><dummy-element label="Look at me!"></dummy-element></div>
      <div><dummy-element label="Look at me!"></dummy-element></div>
      <div><dummy-element label="Look at me!"></dummy-element></div>
      <div><dummy-element label="Look at me!"></dummy-element></div>
    </div>
  </section>

  <br />

  <section class="page-wrapper">
    <hr />
    <h2 class="text-center">Latest Stories</h2>
    <hr />
    <br />
    <div layout="flexrow" gutters="plus-3">
      <article breakpoint="tiny-100 medium-66">
        <div layout="flexrow" gutters autostack>
          <div breakpoint="tiny-100 small-40">
            <dummy-element label="[Thumbnail]"></dummy-element>
          </div>
          <div>
            <h3><a href="#">Death Star vaporizes it's own planet</a>.</h3>
            <ul layout="flexlist" gutters>
              <li><iron-icon icon="social:person"></iron-icon> By Thadeus<li>
              <li><iron-icon icon="icons:date-range"></iron-icon> 11/23/16<li>
              <li><iron-icon icon="communication:forum"></iron-icon> 6 Comments<li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
          </div>
        </div>
        <hr />
        <div layout="flexrow" gutters autostack>
          <div breakpoint="tiny-100 small-40">
            <dummy-element label="[Thumbnail]"></dummy-element>
          </div>
          <div>
            <h3><a href="#">Death Star vaporizes it's own planet</a>.</h3>
            <ul layout="flexlist" gutters>
              <li><iron-icon icon="social:person"></iron-icon> By Thadeus<li>
              <li><iron-icon icon="icons:date-range"></iron-icon> 11/23/16<li>
              <li><iron-icon icon="communication:forum"></iron-icon> 6 Comments<li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
          </div>
        </div>
        <hr />
        <div layout="flexrow" gutters autostack>
          <div breakpoint="tiny-100 small-40">
            <dummy-element label="[Thumbnail]"></dummy-element>
          </div>
          <div>
            <h3><a href="#">Death Star vaporizes it's own planet</a>.</h3>
            <ul layout="flexlist" gutters>
              <li><iron-icon icon="social:person"></iron-icon> By Thadeus<li>
              <li><iron-icon icon="icons:date-range"></iron-icon> 11/23/16<li>
              <li><iron-icon icon="communication:forum"></iron-icon> 6 Comments<li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
          </div>
        </div>
        <hr />
        <div layout="flexrow" gutters autostack>
          <div breakpoint="tiny-100 small-40">
            <dummy-element label="[Thumbnail]"></dummy-element>
          </div>
          <div>
            <h3><a href="#">Death Star vaporizes it's own planet</a>.</h3>
            <ul layout="flexlist" gutters>
              <li><iron-icon icon="social:person"></iron-icon> By Thadeus<li>
              <li><iron-icon icon="icons:date-range"></iron-icon> 11/23/16<li>
              <li><iron-icon icon="communication:forum"></iron-icon> 6 Comments<li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
          </div>
        </div>
        <hr />
        <div layout="flexrow" gutters autostack>
          <div breakpoint="tiny-100 small-40">
            <dummy-element label="[Thumbnail]"></dummy-element>
          </div>
          <div>
            <h3><a href="#">Death Star vaporizes it's own planet</a>.</h3>
            <ul layout="flexlist" gutters>
              <li><iron-icon icon="social:person"></iron-icon> By Thadeus<li>
              <li><iron-icon icon="icons:date-range"></iron-icon> 11/23/16<li>
              <li><iron-icon icon="communication:forum"></iron-icon> 6 Comments<li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
          </div>
        </div>
        <hr />
        <div layout="flexrow" gutters autostack>
          <div breakpoint="tiny-100 small-40">
            <dummy-element label="[Thumbnail]"></dummy-element>
          </div>
          <div>
            <h3><a href="#">Death Star vaporizes it's own planet</a>.</h3>
            <ul layout="flexlist" gutters>
              <li><iron-icon icon="social:person"></iron-icon> By Thadeus<li>
              <li><iron-icon icon="icons:date-range"></iron-icon> 11/23/16<li>
              <li><iron-icon icon="communication:forum"></iron-icon> 6 Comments<li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
          </div>
        </div>
      </article>
      <aside>
        <div layout="flexgrid" gutters>
          <div breakpoint="tiny-33" class="text-center">
            <iron-icon icon="app:twitter" /></iron-icon>
            <p><div>56,000</div><div>Followers</div></p>
          </div>
          <div breakpoint="tiny-33" class="text-center">
            <iron-icon icon="app:github" /></iron-icon>
            <p><div>56,000</div><div>Followers</div></p>
          </div>
          <div breakpoint="tiny-33" class="text-center">
            <iron-icon icon="app:codepen" /></iron-icon>
            <p><div>56,000</div><div>Followers</div></p>
          </div>
          <div breakpoint="tiny-33" class="text-center">
            <iron-icon icon="app:linkedin" /></iron-icon>
            <p><div>56,000</div><div>Followers</div></p>
          </div>
          <div breakpoint="tiny-33" class="text-center">
            <iron-icon icon="app:youtube" /></iron-icon>
            <p><div>56,000</div><div>Followers</div></p>
          </div>
          <div breakpoint="tiny-33" class="text-center">
            <iron-icon icon="app:heart" /></iron-icon>
            <p><div>56,000</div><div>Followers</div></p>
          </div>
        </div>
        <br />
        <h3>From our friends.</h3>
        <dummy-element label="Buy Me!" height="200px"></dummy-element>
        <br />

        <h3>Trending Posts</h3>
        <div layout="flexrow" gutters>
          <div breakpoint="tiny-content">
            <img src="http://placekitten.com/g/300/300" width="100" height="100" />
          </div>
          <h4>All I need is a space suit and I'm ready to go.</h4>
        </div>
        <br />

        <div layout="flexrow" gutters>
          <div breakpoint="tiny-content">
            <img src="http://placekitten.com/g/300/300" width="100" height="100" />
          </div>
          <h4>All I need is a space suit and I'm ready to go.</h4>
        </div>
        <br />

        <div layout="flexrow" gutters>
          <div breakpoint="tiny-content">
            <img src="http://placekitten.com/g/300/300" width="100" height="100" />
          </div>
          <h4>All I need is a space suit and I'm ready to go.</h4>
        </div>
        <br />

        <div layout="flexrow" gutters>
          <div breakpoint="tiny-content">
            <img src="http://placekitten.com/g/300/300" width="100" height="100" />
          </div>
          <h4>All I need is a space suit and I'm ready to go.</h4>
        </div>
      </aside>
    </div>
  </section>

  <section layout="flexrow" gutters class="full-wrapper">
    <div>
      <h3>Flickr Images</h3>
      <ul layout="flexgrid" basis="medium-4-columns" gutters>
        <li><img src="http://placekitten.com/g/300/300" width="75" height="75" /></li>
        <li><img src="http://placekitten.com/g/300/300" width="75" height="75" /></li>
        <li><img src="http://placekitten.com/g/300/300" width="75" height="75" /></li>
        <li><img src="http://placekitten.com/g/300/300" width="75" height="75" /></li>
        <li><img src="http://placekitten.com/g/300/300" width="75" height="75" /></li>
        <li><img src="http://placekitten.com/g/300/300" width="75" height="75" /></li>
        <li><img src="http://placekitten.com/g/300/300" width="75" height="75" /></li>
        <li><img src="http://placekitten.com/g/300/300" width="75" height="75" /></li>
      </ul>
    </div>
    <div>
      <h3>Flickr Images</h3>
      <ul layout="flexlist" gutters class="taglist">
        <li>Space</li>
        <li>Galaxies</li>
        <li>Milky Way</li>
        <li>Black Holes</li>
        <li>Rebels</li>
        <li>Death Star</li>
        <li>Republic</li>
        <li>R2D2</li>
      </ul>
    </div>
    <div>
      <h3>Random Mag</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quam voluptatum vel repellat ab similique molestias molestiae ea omnis eos, id asperiores est praesentium, voluptate officia nulla aspernatur sequi aliquam.</p>
    </div>
  </section>

<% include inc/footer %>
