<% include inc/header %>

  <header layout="flexrow" align="middle" class="full-wrapper">
    <div>
      <ul layout="flexlist" gutters>
        <li>[logo]</li>
        <li><a href="#one">One</a></li>
        <li><a href="#two">Two</a></li>
        <li><a href="#three">Three</a></li>
      </ul>
    </div>
    <div breakpoint="tiny-content">
      <ul layout="flexlist" gutters>
        <li><paper-button>My Account</paper-button></li>
        <li><paper-button raised>Login</paper-button></li>
      </ul>
    </div>
  </header>

  <br />

  <section layout="flexrow" autostack gutters="plus-2" class="page-wrapper">
    <div breakpoint="tiny-50">
      <h1>Close Your Eyes and Open Your Mind</h1>
      <p>There is beauty in space, and it is orderly. There is no weather, and there is regularity. It is predictable. Everything in space obeys the laws of physics. If you know these laws, and obey them, space will treat you kindly. It is predictable. Everything in space obeys the laws of physics. If you know these laws, and obey them, space will treat you kindly.</p>
      <ul layout="flexlist" gutters>
        <li><paper-button raised>Take a Tour</paper-button></li>
        <li><paper-button raised>Start a free trial</paper-button></li>
      </ul>
    </div>
    <div><dummy-element label="[Advertisements]" height="100%"></dummy-element></div>
    <div><dummy-login></dummy-login></div>
  </section>

  <br /><hr /><br />

  <section class="page-wrapper">
    <h2>Trending Planetary Destinations</h2>
    <div layout="flexgrid" basis="tiny-3-columns" gutters="plus-3" autostack>
      <div>
        <dummy-travel label="Look at me!">
          <div slot="caption">
            <h3>Copernican Revolution caused an uproar</h3>
            <p>Find Earth-like planets life outside the Solar System
          </div>
        </dummy-travel>
      </div>
      <div>
        <dummy-travel label="Look at me!">
          <div slot="caption">
            <h3>Copernican Revolution caused an uproar</h3>
            <p>Find Earth-like planets life outside the Solar System
          </div>
        </dummy-travel>
      </div>
      <div>
        <dummy-travel label="Look at me!">
          <div slot="caption">
            <h3>Copernican Revolution caused an uproar</h3>
            <p>Find Earth-like planets life outside the Solar System
          </div>
        </dummy-travel>
      </div>
      <div>
        <dummy-travel label="Look at me!">
          <div slot="caption">
            <h3>Copernican Revolution caused an uproar</h3>
            <p>Find Earth-like planets life outside the Solar System
          </div>
        </dummy-travel>
      </div>
      <div>
        <dummy-travel label="Look at me!">
          <div slot="caption">
            <h3>Copernican Revolution caused an uproar</h3>
            <p>Find Earth-like planets life outside the Solar System
          </div>
        </dummy-travel>
      </div>
      <div>
        <dummy-travel label="Look at me!">
          <div slot="caption">
            <h3>Copernican Revolution caused an uproar</h3>
            <p>Find Earth-like planets life outside the Solar System
          </div>
        </dummy-travel>
      </div>
    </div>
    <p class="text-center">
      <paper-button raised>Load More</paper-button>
    </p>
  </section>

  <br />

  <section layout="flexrow" gutters autostack class="full-wrapper">
    <div>
      <h3>Flickr Images</h3>
      <ul class="basiclist">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>
    <div>
      <h3>Solar Systems</h3>
      <ul class="basiclist">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>
    <div>
      <h3>Contact</h3>
      <ul class="basiclist">
        <li><a href="#"><iron-icon icon="appicons:twitter"></iron-icon>&nbsp;Twitter</a></li>
        <li><a href="#"><iron-icon icon="appicons:youtube"></iron-icon>&nbsp;YouTube</a></li>
        <li><a href="#"><iron-icon icon="appicons:linkedin"></iron-icon>&nbsp;LinkedIn</a></li>
        <li><a href="#"><iron-icon icon="appicons:github"></iron-icon>&nbsp;Github</a></li>
      </ul>
    </div>
    <div>
      <h3>Offices</h3>
      <ul class="basiclist">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>
  </section>

<% include inc/footer %>
